*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
} 
.page1{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./Assets/Photos/futuristic-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-size: co  ver; */
    /* opacity: 8.5; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 40px 120px;
}
.navbar ul{
    color: rgba(255, 255, 255, 0.856);
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 270px;
}
.navbar>div {
    margin-right: 50px;

}
.btn{
    padding: 9px 20px;
    border: none;
    color: white;
    font-size: 13px;
}
.btn_2{
    background-color: rgb(244, 98, 45);
}
.btn_1{
    background-color: transparent;
  
}
.page1_mid{
    display: flex;
    justify-content: space-between;    
    margin: 100px 210px 0 120px;
    gap: 250px;
}
.page1_mid_left{
    color: white;
    text-align: start;
    width: 38vw;
}
.page1_mid_left>h1{
    font-size: 51px;
}
.page1_mid_left>p{
    font-size: 15px;
    width: 34vw;
    line-height: 30px;
    padding: 30px 0 ;
}
.page1_mid_left>button{
    padding: 15px 40px;
    font-size: 17px;
    color: white;
}
.page1_mid_left .btn1{
    background-color: rgb(247, 111, 61);
    border: none;
}
.page1_mid_left .btn2{
    background-color: transparent;
    border: 1px solid white;
    margin-left: 25px;
}
.page1_mid_right{
    color: white;
    z-index: 10;
}
.Play_btn{
    position: relative;
    top: 100px;
    left: 115px;
}
.dash{
    position: relative;
    top: 280px;
    right: 215px;
}
.page1_mid_right>p{
    position: relative;
    font-size: 20px;
    width: 14vw;
    top: 255px;
    right: 75px;
}